
 <script type="text/javascript">
     function kiem_tra_snt(n){
        var flag = true;
        if (n < 2){
            flag = false;
        }
        else{
            for (var i = 2; i < n; i++){
                if (n % i == 0){
                    flag = false;
                    break;
                }
            }
        }
        if (flag == true){
            document.write(n + " là số nguyên tố <br/>");
        }
        else{
            document.write(n + " không phải là số nguyên tố <br/>");
        }
    }
 kiem_tra_snt(5);
 </script>
