<script type="text/javascript">
	n =28;
	function input_SHH(n){
		var numMax = 0;
       for (var i = 1; i <= n; i++) {
       	  if(check_SHH(i)){
       	  	 document.write(i + " là số hoàn hảo <br>");
       	  	 numMax+=i;
       	  }else{
       	  	 document.write(i + " không là số hoàn hảo <br>");
       	  }
       }
       document.write("Tổng của các số hoàn hảo là :"+ numMax)
	}
	function check_SHH(i){
		var sum = 0;
		for (var j = 1; j < i; j++) {
			if(i % j == 0){
				sum += j;
			}
		}
		return sum == i;
	}
input_SHH(n);
</script>