<script type="text/javascript">
	   function NameString(name){
        document.write(name+"<br>");
        var arr = name.split(' ');  
        var result =arr[0]+" "+arr[arr.length-1];
        document.write(result+"<br>");

   }
   NameString('Tran Thi Phuong Linh');
</script>