<script type="text/javascript">
	strMax = "tran phuong linh";
    strMin = "phuong";
   function nhapChuoi(strMax,strMin){
   	   document.write(strMax+"<br>");
   	   document.write(strMin+"<br>");
       var delStr = strMax.replace(strMin,'');

       document.write(delStr);
 }
   nhapChuoi(strMax,strMin);
</script>