<script type="text/javascript">
   var arr = [1, 2, 3, 4, 5,6,8,9,10,11,12,13,14,15];
   var numMax = 0;
     arr.forEach(MangSoNguyen);
     function MangSoNguyen(arr){
        if(ktra_soNguyenTo(arr)){
            document.write(arr+ "là số nguyên tố [+] <br> ");
                if(numMax < arr){
                    numMax = arr;
                }
            }else{
                document.write(arr+ "không là số nguyên tố <br> ");
        }
    }
            if(numMax==0){
                 document.write(" -1 <br> ");
            }else{
              document.write(" ------>"+numMax+"<----- Là số nguyên tố lớn nhất trong mảng !!!!!!!!!!!");
            }
    function ktra_soNguyenTo(arr) {
        if (arr < 2) {
            return false;
        }
            for(var i = 2; i < arr; i ++) {
                if (arr % i == 0) {
                    return false;
                }
            }
            return true;
    }
</script>